* {
    box-sizing: border-box;
  }
 body {
  background-image: url(/src/images/image.jpg);
  background-size: cover;
 }
 img {
  float: left;
  margin-right: 70px;
 }
.cat-info {
  padding: 120px;
  font-weight: 400;
  font-size: 22px;
}
 .hidden {
    display: none;
  }
.container {
  position: relative;
    
}
select {
 color:rgb(115, 0, 255);
 position: absolute;
 left: 40%;
 top: 25px;
 box-shadow: 3px 3px 8px 0.4px rgba(0, 0, 0, 0.3);
 box-sizing: border-box;
 height: 30px;
 width: 350px;
 
}
select::after {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
select:hover {
  transform: scale(1.01);
  
}

  .loading {
    display: block;
  }
  .loader {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    position: absolute;
    left:50%;
    top: 300px;
    animation: rotate 1s linear infinite;
  }
  
  .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
  }
  .loader::after{
    border-color: #FF3D00;
    animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 6px;
  }

  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }